body {
    background-color: $bg-one;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
}

input {
    transition: border-color $switch;
}

main {
    min-height: calc(100vh - 100px);
    @media screen and (min-width: $tablet) {
        min-height: calc(100vh - 165px);
    }
}

label,
select {
    margin-bottom: 6px;
    text-align: left;
}

.apology {
    margin: 20px auto;
    border-radius: 10px;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width: $tablet) {
        width: $tablet;
    }
    @media screen and (min-width: $desktop){
        width: $desktop;
    }
}


.top-up,
.transfer,
.login,
.account {
    padding: 80px 0;
}

.button {
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 30px;
    border: 0;
    border-radius: 8px;
    background-color: $accent;
    color: $contrast;
    font-size: 16px;
    transition: background-color $switch;

    &:hover,
    &:focus {
        background-color: $hover;
    }
}

.input,
select {
    height: 33px;
    width: 100%;
    padding: 6px 12px;

    border: 1px solid rgb(206, 212, 218);
    border-radius: 0.25rem;
}

select:focus,
.input:focus {
    border: 2px solid $accent;
    outline: 0;
}

.label {
    display: block;
    font-size: 16px;
    padding-left: 6px;
}

.title {
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: $text-one;
}
.form {
    width: 260px;
    margin: 0px auto;
}

.acc__balance {
    margin-top: -8px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: $ok;
}

.footer {
    padding: 10px 0;

    border-top: 1px solid $text-two;
    font-size: 14px;

    @media screen and (min-width: $tablet) {
        padding: 25px 0;
        font-size: 20px;
    }
}