$text-one: #2b2a28;
$text-two: #ffffff;
$text-three: #f5deb3;
$text-four: #000000;


$bg-one: #dfcee9;
$bg-two: #2b2a28;
$bg-three: #000000;


$accent: #fa5255;
$contrast: #fff2f2;
$hover: #c93638;
$ok: green;

$switch: 250ms ease-in-out;