{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<section class="login">
    <div class="container">
        <h1 class="title login__title">Sign In</h1>
        <form action="/login" method="post" class="form">
            <label>
                <span class="label">Login</span>
                <input autocomplete="off" autofocus class="input" id="login" name="login" type="text">
            </label>
            <label>
                <span class="label">PIN</span>
                <input class="input" id="pin" name="pin" type="password">
            </label>
            <button class="button" type="submit">Sign In</button>
        </form>
    </div>
</section>
    
{% endblock %}
